<h1> Welcome to Poseidon Rentals </h1><br><br>

<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
<br><br>
<a class="btn btn-primary btn-lg" href="/auth/github" role="button">Login via Github</a>
<br><br>
<h3>Or</h3>
<br><br>
<a class="btn btn-primary btn-lg" href="/users/new" role="button">Signup Here</a>



