<h1> Welcome to Poseidon Rentals! </h1><br><br>

<h3> New User?</h3><br> <h2><%= link_to 'Sign Up Here', new_user_path %> </h2> <br>
<h3>Or</h3><br>
<h2><%= link_to 'Log in', login_path %></h2><br>
<h2><%= link_to "Login via Github", "/auth/github" %></h2><br>
