<h1> Welcome to Poseidon Rentals </h1><br><br>
<br><br><br><br>

<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
<br><br>
<a class="btn btn-primary btn-lg disabled" href="/auth/github" role="button">Github (Temporarily Disabled)</a>
<br><br>

<br><br>
<a class="btn btn-primary btn-lg" href="/users/new" role="button">Signup Here</a>



