<h1> Welcome to Poseidon Rentals </h1><br><br>
<br><br><br><br>

<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
<br><br>
 <a class="btn btn-primary btn-lg disabled" href="/auth/github" role="button">Github (Temporarily Disabled)</a>
<%# <a class="btn btn-primary btn-lg" href="/auth/github" role="button" method: :post>Login via Github</a> %>
<%# <h2><%= link_to "Login via Github", "/auth/github", method: :post %></h2><br> %>

<%= button_to "Login with Google", '/auth/google_auth2'%>
<br><br>

<br><br>
<a class="btn btn-primary btn-lg" href="/users/new" role="button">Signup Here</a>



