<%= flash[:alert] if flash[:alert] %>

<h1> Enter Username & Password: </h1>
<br><br><br>

<%= form_tag('/login') do %>
<form >

<div class="form-floating mb-5 w-50 ">
  <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">

  <label for="floatingInput">Email address</label>
</div>

<div class="form-floating w-50 mb-5">
  <input type="password" class="form-control" id="floatingPassword" name= "password" placeholder="Password">

  <label for="floatingPassword">Password</label>
</div>

  <button class="btn btn-primary" type="submit" name="commit" value="Submit" data-disable-with="Submit">Login</button>
</form>
<% end %> 