<h1> All Equipment: </h1><br><br>

<% @equipment.each do |e| %>
<a type="button" class="btn btn-primary btn-lg" href="<%=equipment_path(e)%>"><%=e.name%></a>
<h3>Category:<%= e.category %><br></h3>
<h3>Cost:    <%= number_to_currency(e.cost) %>/hr<br></h3>
<br><br><br>
<% end %>


