<h1> Welcome to Poseidon Rentals! </h1><br><br><br>

<h2> New User? Signup here: <%= link_to 'Sign Up', new_user_path %> </h2> <br>
<h3>Or</h3><br>
<h2>Login here: <%= link_to 'Log in', login_path %></h2>


