<h1> Welcome to Poseidon Rentals, <%= @user.name %> </h1>
<br><br><br>


<h3>Your Reservations: </h3>
<br>
<div id="user-reservations">

</div>
<br>

<button type="button" class="btn btn-info" id="user-reservations" onclick="getReservations();"> Show Your Reservations </button>


<br><br>

<select id="equipment-select" name="equipment" style="display: none" class="btn btn-secondary dropdown-toggle">
</select>

<div id="reservation-form">
</div>
 
<button type="button" class="btn btn-primary" id="reservation-form-button" onclick="displayReservationForm(); return false;"> Create a New Reservation </button>
<br><br>

<br><br><br><br>
<h4><%= link_to 'All Reservations', reservations_path, class: "btn btn-info" unless !current_user.admin? %><br></h4>
<h4><%= link_to 'Add Equipment', new_equipment_path, class: "btn btn-primary" unless !current_user.admin? %><br></h4>
<br><br>
<a type="button" class="btn btn-danger" data-method="delete" href="/logout">Logout</a>

