

<h1> Welcome to Poseidon Rentals <%= @user.name %>! </h1>
<br><br><br>


<h3>Your Reservations: </h3>
<br>
<div id="user-reservations">

</div>
<br>

<button id="user-reservations" onclick="getReservations()"> Show Your Reservations </button> 
<br><br>
<%# <a href="#" onclick="getReservations(); return false;"> Show The Reservations </a><br> %>

<%# Create element on create reservation button %>
<select id="equipment-select" name="equipment">
</select>

<div id="reservation-form">
</div>
 
<button id="reservation-form-button" onclick="displayReservationForm(); return false;"> Create a New Reservation </button>
<br><br>
<%# <a href="#" onclick="displayReservationForm(); return false;"> Create A Reservation </a> %>

<h4><%= link_to 'All Reservations', reservations_path unless !current_user.admin? %><br></h4>
<h4><%= link_to 'Add Equipment', new_equipment_path unless !current_user.admin? %><br></h4>
<h4><%= link_to 'Log Out', logout_path, method: :delete %></h4>

