<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<h1> Welcome to Poseidon Rentals <%= @user.name %>! </h1>
<br><br><br>


<h3>Your Reservations: </h3>
<br>
<div id="user-reservations">

</div>

<%# <script> 
    document.getElementById("more-info").addEventListener("click", function(){ 
    document.getElementById("user-reservations").innerText = "this is a test"; 
}); 
</script>  %>

<br>

<button id="user-reservations" onclick="getReservations()"> Show Your Reservations </button> 
<br><br>

<%# Create element on create reservation button %>

<select id="equipment-select" name="equipment" style="display: none">
</select>

<div id="reservation-form">
</div>
 
<button id="reservation-form-button" onclick="displayReservationForm(); return false;"> Create a New Reservation </button>
<br><br>

<h4><%= link_to 'All Reservations', reservations_path unless !current_user.admin? %><br></h4>
<h4><%= link_to 'Add Equipment', new_equipment_path unless !current_user.admin? %><br></h4>
<h4><%= link_to 'Log Out', logout_path, method: :delete %></h4>

