<% if @reservation.errors.full_messages.any? %>
  <% @reservation.errors.full_messages.each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<h1> Create Reservation: </h1><br><br>
<%= render 'reservation_form' %>